*.pyc
.DS_Store
*.so
*.mod
vaspDMFT
vaspDMFT*
libdmft.a
*.o
wannier90.x
w90chk2chk.x
dmft.x
dmft_dos.x
dmft_ksum_band
dmft_ksum_partial_band
fort_kpt_tools.so
ctqmc
skrams
gaunt.so
gutils.so
maxent_routines.so
siesta
sources/src/obj/*
sources/EDMFTF*
*.log
make.inc

#sphinx
_build/
