*.pyc
.DS_Store
*.so
*.mod
vaspDMFT
vaspDMFT*
libdmft.a
vasp
*.o
wannier90.x
w90chk2chk.x
dmft.x
sources/dmft_ksum/dmft_dos.x
sources/dmft_ksum/dmft_ksum_band
sources/dmft_ksum/dmft_ksum_partial_band
sources/dmft_ksum/dmft_ksum_sp
sources/dmft_dos.x
bin/dmft_dos.x
bin/dmft_ksum_band
bin/dmft_ksum_partial_band
fort_kpt_tools.so
ctqmc
skrams
gaunt.so
gutils.so
maxent_routines.so
siesta
sources/src/obj/*
sources/EDMFTF*
*.log
make.inc

#sphinx
_build/
